In [1]:
import numpy as np
import pandas as pd

In [2]:
s= pd.Series([1,3,5,7,9])
s

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [3]:
s= pd.Series([1,3,np.nan,5,7,9])
s

0    1.0
1    3.0
2    NaN
3    5.0
4    7.0
5    9.0
dtype: float64

In [4]:
date = pd.date_range("20250101", periods=7)
date

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(7, 4), index=date, columns=list("ABCD"))
df

                   A         B         C         D
2025-01-01 -0.269172 -1.295969  0.328348  0.901492
2025-01-02  1.621241 -2.007985 -0.346829  1.471901
2025-01-03 -0.536736  0.377037  0.809469 -0.374277
2025-01-04 -0.965308  0.259562  0.128146 -1.783389
2025-01-05  0.735920 -0.672962  0.040322  0.617070
2025-01-06 -1.685718 -1.401685  0.912497 -1.285075
2025-01-07  1.073728 -0.675384  0.064146  0.858760